<div class="p-4 m-2">
    <h2 class="py-4 text-center text-gray-300">Canada West</h2>
    <div
        class="md:text-base grid items-center grid-flow-col grid-cols-3 mb-4 text-xs font-bold text-center uppercase border-0 border-b-2 border-gray-400">
        <div>Quarterfinals</div>
        <div>Semifinals</div>
        <div>Finals</div>
    </div>
    <div class="grid items-center grid-flow-col grid-cols-3">
        <div class="grid grid-flow-row grid-rows-3">
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 1</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 2</p>
                    <p class="text-right">1</p>
                </div>
            </div>
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 3</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 4</p>
                    <p class="text-right">1</p>
                </div>
            </div>
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 5</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 6</p>
                    <p class="text-right">1</p>
                </div>
            </div>
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 7</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 8</p>
                    <p class="text-right">1</p>
                </div>
            </div>
        </div>
        <div class="h-1/2 grid grid-flow-row grid-rows-2 mx-2">
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 1</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 3</p>
                    <p class="text-right">1</p>
                </div>
            </div>
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 5</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 7</p>
                    <p class="text-right">0</p>
                </div>
            </div>
        </div>
        <div class="h-1/4 grid grid-flow-row grid-rows-1 mx-2">
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 1</p>
                    <p class="text-right">0</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 5</p>
                    <p class="text-right">2</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="p-4 m-2">
    <h2 class="py-4 text-center text-gray-300">AUS</h2>
    <div
        class="md:text-base grid items-center grid-flow-col grid-cols-2 mb-4 text-xs font-bold text-center uppercase border-0 border-b-2 border-gray-400">
        <div>Semifinals</div>
        <div>Finals</div>
    </div>
    <div class="grid items-center grid-flow-col grid-cols-2">
        <div class="grid grid-flow-row grid-rows-2 mx-2">
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 1</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 3</p>
                    <p class="text-right">1</p>
                </div>
            </div>
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 5</p>
                    <p class="text-right">2</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 7</p>
                    <p class="text-right">0</p>
                </div>
            </div>
        </div>
        <div class="h-1/2 grid grid-flow-row grid-rows-1 mx-2">
            <div class="md:text-base px-4 py-2 mb-4 space-y-2 text-xs text-gray-900 bg-gray-200 rounded-md">
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 1</p>
                    <p class="text-right">0</p>
                </div>
                <div class="grid grid-flow-col grid-cols-2">
                    <p class="font-semibold">Team 5</p>
                    <p class="text-right">2</p>
                </div>
            </div>
        </div>

    </div>

</div>