
*venv

*virtualenv

.git
.gitignore

.pylintrc

.vscode

.github

docker-compose.yml

__pycache__

*.py[cod]

README.md

LICENSE

tailwind.config.js

tailwindcss

screenshots

CONTRIBUTING.md

instance/


