virtualenv/
*venv/
.env
# Flask stuff:
__pycache__
*.py[cod]
instance
.webassets-cache

.pytest_cache
.coverage
htmlcov

dist
build
*.egg-info

#tailwind and prettier stuff
tailwindcss
*prettier*

#vscode stuff
.vscode/*


