<div class="bg-gradient-to-tr from-slate-700 to-amber-300 md:my-10 max-w-5xl mx-auto my-5 overflow-hidden rounded-lg shadow-lg">

  <div class="px-6 py-4">
      <h2 class="text-3xl font-bold text-gray-800">2024-2025 Season Starts in:</h2>
  </div>

  <div class="px-6 py-4">
      <div class="flex flex-wrap items-center justify-center gap-4">
          <div class="bg-amber-200 px-4 py-2 border rounded-lg">
              <div id="days" class="font-mono text-2xl font-bold text-gray-800"></div>
          </div>
          <div class="bg-amber-200 px-4 py-2 border rounded-lg">
              <div id="hours" class="font-mono text-2xl font-bold text-gray-800"></div>
          </div>
          <div class="bg-amber-200 px-4 py-2 border rounded-lg">
              <div id="minutes" class="font-mono text-2xl font-bold text-gray-800"></div>
          </div>
          <div class="bg-amber-200 px-4 py-2 border rounded-lg">
              <div id="seconds" class="font-mono text-2xl font-bold text-gray-800"></div>
          </div>
      </div>
  </div>

</div>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Dec 1, 2024 00:00:00").getTime();

  // Update the countdown every 1 second
  var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the corresponding elements
      document.getElementById("days").textContent = days + "d";
      document.getElementById("hours").textContent = hours + "h";
      document.getElementById("minutes").textContent = minutes + "m";
      document.getElementById("seconds").textContent = seconds + "s";


      // If the count down is over, write some text 
      if (distance < 0) {
          clearInterval(x);
          document.getElementById("countdown").innerHTML = "EXPIRED";
      }
  }, 1000);
</script>