<section class="flex flex-col w-full max-w-xl p-8 mx-auto mt-20 border rounded-lg">
    <a id="bottom"></a>
    <h2 class="title-font md:text-lg mb-1 text-base font-medium text-white">
      Feedback
    </h2>
    <p class="md:text-lg mb-5 text-base leading-relaxed text-gray-400">
      Appreciate any issues or feedback
    </p>
    <form method="POST" action="#">
      <div class="mb-4">
        <label for="name" class="text-sm leading-7 text-white"> Name</label>
        <input type="text" id="name" name="name" required autocomplete="name"
          class="bg-slate-400 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out border border-gray-300 rounded outline-none" />
      </div>
      <!-- Optional email field for those who want a reply -->
      <div class="mb-4">
        <label for="email" class="text-sm leading-7 text-white">Email (Optional)</label>
        <input type="email" id="email" name="email" autocomplete="email"
          class="bg-slate-400 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out border border-gray-300 rounded outline-none" />
      </div>
      <div class="mb-4">
        <label for="message" class="text-sm leading-7 text-white">Message</label>
        <textarea id="message" name="message" required autocomplete="message"
          class="bg-slate-400 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 w-full h-32 px-3 py-1 text-base leading-6 text-gray-700 transition-colors duration-200 ease-in-out border border-gray-300 rounded outline-none resize-none"></textarea>
      </div>
      <button
        class="bg-violet-800 hover:bg-violet-300 focus:outline-none px-8 py-1 text-base text-white border-0 rounded">
        Send
      </button>
    </form>
    <p class="mt-3 text-xs text-white">
      Feel free to connect with me on my social media platforms.
    </p>
  </section>