{% extends "base.html" %} {% block content %}
<div class="min-h-screen">
  <section>
    <div class="px-4 py-10">
      <h2 class="text-xl font-bold mb-6">About Me</h2>
      <div class="mb-6">
        <p class="text-base md:text-lg leading-relaxed">
          This is a personal project by me (OJ), a computer science student. This
          website serves as my platform to share analytics and insights into the
          Canadian university basketball league, commonly known as U Sports. I'm
          passionate about basketball and data analysis, and this project allows
          me to combine both interests.
        </p>
      </div>

      <hr class="my-8"/>

      <div class="mb-6">
        <h3 class="text-lg md:text-xl font-bold mb-4">Goal</h3>
        <p class="text-base md:text-lg leading-relaxed">
          My mission is to provide basketball enthusiasts, coaches, players, and
          fans with valuable data-driven insights and analytics to enhance their
          understanding and enjoyment of U Sports basketball. Through this
          project, I aim to promote the sport and contribute to the growth of
          basketball in Canadian universities.
        </p>
      </div>

      <hr class="my-8"/>

      <div class="mb-6">
        <h3 class="text-lg md:text-xl font-bold mb-4">What I Offer</h3>
        <p class="text-base md:text-lg leading-relaxed">
          At U Sports Basketball Statistics, you'll find a wide range of
          statistical metrics and analyses, including team performance, player
          statistics, team standings and much more. My platform allows you to
          delve deep into the numbers, enabling informed decision-making and
          enhancing your basketball experience.
        </p>
      </div>
    </div>
    <hr class="my-8"/>
  </section>

  <section class="text-center">
    <h2 class="text-2xl mb-4">Visit League Sites</h2>
    <p>Please select a league:</p>
    <div class="flex flex-col m-2 space-y-5 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-10">
      <a href="/mbb"
        class="inline-block p-3 md:p-4 border border-white rounded-lg transition duration-500 ease-in-out hover:bg-blue-300 hover:text-gray-800">Men's
        League
      </a>

      <a href="/wbb"
        class="inline-block p-3 md:p-4 border border-white rounded-lg transition duration-500 ease-in-out hover:bg-pink-300 hover:text-gray-800">Women's
        League</a>
    </div>
  </section>
</div>
{% endblock %}