{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<h2>Welcome to Usports Basketball Statistics</h2>
<p>Please select a league:</p>
<ul>
    <li><a class="click" href="/men">Men's League</a></li>
    <li><a class="click"href="/women">Women's League</a></li>
</ul>

<!-- Provided text -->
<p>Welcome to my USports basketball page! As a computer science student who loves sports, I've built this platform to offer you current standings and insightful analysis on USports basketball teams. Dive into the exciting world of basketball with us!</p>
{% endblock %}
