{% extends "base.html" %} {% block content %}

<body>
  <h1 class="text-center text-gray-500 font-bold text-xl md:text-3xl py-2">
    {{ league }} League
  </h1>
  <!-- Navigation -->
  <div class="flex justify-center ">
    <nav
      class="flex flex-wrap md:flex-row"
      role="group">
      <button id="standingsBtn" type="button" class="nav-btn flex-auto shrink text-xs md:text-base">Standings</button>
      <button id="leaderboardBtn" type="button" class="nav-btn flex-auto text-xs md:text-base">Player Leaderboard</button>
      <button id="teamAnalyticsBtn" type="button" class="nav-btn flex-auto text-xs md:text-base">Team Analytics</button>
      <button id="playerAnalyticsBtn" type="button" class="nav-btn flex-auto text-xs md:text-base">Player Analytics</button>
    </nav>
  </div>
  <!-- Standings Section -->
  <div id="standings-section" style="display: block">
    <div id="filters" class="text-left my-5 px-4 text-xs md:text-sm">
      <label for="conference-filter" class="text-white font-bold mr-2 ">Filter by Conference:</label>
      <select id="conference-filter"
        class="py-2 px-4 rounded bg-gray-800 text-white hover:bg-gray-700 focus:bg-gray-700">
        <option value="all" class="text-white">All Conferences</option>
        <option value="OUA" class="text-white">OUA</option>
        <option value="AUS" class="text-white">AUS</option>
        <option value="CW" class="text-white">CW</option>
        <option value="RSEQ" class="text-white">RSEQ</option>
      </select>
    </div>

    <div style="margin: 0 auto;" class="team-container w-full sm:w-11/12">
      <div class="team-header bg-gray-800 rounded-lg shadow-md mb-5 text-left">
        <table class="w-full">
          <tr class="text-xs md:text-lg">
            <th class="py-2">&nbsp; #</th>
            <th style="width: 30%" class="py-2">Team</th>
            <th style="width: 6%" class="py-2">W</th>
            <th style="width: 6%" class="py-2">L</th>
            <th style="width: 12%" class="py-2 font-bold">Pct</th>
            <th style="width: 8%" class="py-2">GP</th>
            <th style="width: 12%" class="py-2">L10</th>
            <th style="width: 15%" class="py-2">Streak</th>
          </tr>
        </table>
      </div>

      {% for team in teams %}
      <div
        class="team {{ team.conference }} bg-slate-950 rounded-lg shadow-md flex items-center justify-between flex-grow text-left mb-1">
        <table class="w-full">
          <tr class="text-xs md:text-lg">
            <td class="pl-3 ">{{ loop.index }}</td>
            <td><img src="{{ url_for('static', filename='team_logos/' + team.team_name +'.png') }}" alt="Team Logo"
                class=" max-w-7 h-auto md:max-w-14 " /></td>
                
                <td style="width: 25%" class="py-2  font-bold">
                  {% if team.team_name == 'Toronto Metropolitan' %}
                    <a href="{{ url_for('team_page', league_path=league_path, team_path='Toronto Metropolitan') }}"
                      class="no-underline hover:underline ">TMU</a>
                  {% else %}
                    <a href="{{ url_for('team_page', league_path=league_path, team_path=team.team_name) }}"
                      class="no-underline hover:underline ">{{ team.team_name }}</a>
                  {% endif %}
                  <img src="{{ url_for('static', filename='conference_logos/' + team.conference +'.png') }}"
                    alt="Team Logo" class="max-w-3 h-auto md:max-w-8 " />
                </td>
                
            <td style="width: 6%" class="py-2">
              {{ team.total_wins }}
            </td>
            <td style="width: 6%" class="py-2">
              {{ team.total_losses }}
            </td>
            <td style="width: 12%" class="py-2 font-bold">
              {{ team.win_percentage }}
            </td>
            <td style="width: 8%" class="py-2">
              {{ team.games_played }}
            </td>
            <td style="width: 12%" class="py-2">
              {{ team.last_ten_games }}
            </td>
            <td style="width: 15%" class="py-2">
              {{ team.streak }}
            </td>
          </tr>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Player Leaderboard Section -->
  <div id="playerleaderboard-section" style="display: none" class="text-left my-5 px-4 text-xs md:text-base">
    {% set numval = 10 %}

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Points per game</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">
        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='points_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.points_per_game }} &nbsp;&nbsp;</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Rebounds per game</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">
        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='rebounds_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.rebounds_per_game }}&nbsp;&nbsp; </td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>


    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Assists per game</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">
        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='assists_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.assists_per_game }} &nbsp;&nbsp;</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Field Goal Percentage</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">
        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='field_goal_percentage', reverse=true)) %}
        {% if (player.games_played > (0.6 * player.team_games_played)) and (player.field_goal_made_per_game > 3) %}{%if
        count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.field_goal_percentage}}%</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>


    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Three pointers made per game</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">
        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='three_pointers_made_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.three_pointers_made_per_game }} &nbsp;&nbsp;</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">
        Three Point Percentage
      </h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">
        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='three_pointers_percentage', reverse=true)) %}
        {% if (player.games_played > (0.6 * player.team_games_played)) and (player.three_pointers_made_per_game > 1)
        %}{%if
        count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.three_pointers_percentage }}%</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">
        Blocks per Game
      </h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">

        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='blocks_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.blocks_per_game }} &nbsp;&nbsp;</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Steals Per Game</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">

        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='steals_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.steals_per_game }} &nbsp;&nbsp;</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Free Throws Made Per Game</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">

        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='free_throws_made_per_game', reverse=true)) %} {% if
        player.games_played > (0.6 * player.team_games_played) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.free_throws_made_per_game }} &nbsp;&nbsp;</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="text-center sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Free Throws Percentage</h2>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">

        {% set count = namespace(value=numval) %} {% for player in
        (players|sort(attribute='free_throws_percentage', reverse=true)) %} {% if (player.games_played > (0.6 *
        player.team_games_played)) and (player.free_throws_made_per_game > 2)
        %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 font-bold text-left">{{ player.lastname_initials }} &nbsp {{ player.first_name }}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + player.school +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 text-sm">{{ player.school }}</td>
          <td class="py-1 font-bold text-center">{{ player.free_throws_percentage }}%</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endif %} {% endfor %}
      </table>
    </div>

  </div>

  <!-- Team Analytics Section -->
  <div id="teamanalytics-section" style="display: none">

    <div class="relative text-center pl-10 sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Best Offense</h2>
      <div
        class="opacity-0 hover:opacity-100 duration-400 absolute inset-0 z-10 flex justify-center items-center text-xs text-white -mb-12 ">
        This metric uses Offensive efficiency: the number of points a team scores per 100 possessions.
      </div>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">

        {% set count = namespace(value=numval) %} {% for team in
        (teams|sort(attribute='offensive_efficiency', reverse=true)) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + team.team_name +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 w-1/4 font-bold">{{ team.team_name}}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='conference_logos/' + team.conference +'.png') }}"
            alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 w-1/6 ">{{ team.conference }}</td>
          <td class="py-1 font-bold text-right pr-10">{{ team.offensive_efficiency }}</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endfor %}
      </table>
    </div>

    <div class="relative text-center pl-10 sm:pl-4 md:pl-6">
      <h2 class="text-2xl font-bold mb-5 mt-12">Best Defense</h2>
      <div
        class="opacity-0 hover:opacity-100 duration-400 absolute inset-0 z-10 flex justify-center items-center text-xs text-white -mb-12">
        This metric uses Defensive efficiency: the number of points an opposing team scores per 100 possessions.
      </div>
    </div>

    <div style="margin: 0 auto; " class="bg-slate-950 rounded-lg shadow-md mb-5  w-full sm:w-5/6">
      <table class="w-full">

        {% set count = namespace(value=numval) %} {% for team in
        (teams|sort(attribute='defensive_efficiency')) %}{%if count.value >= 1%}

        <tr class="pb-4  even:bg-slate-900">
          <td class="py-1 w-1/12 pl-3">{{ numval - count.value + 1}}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='team_logos/' + team.team_name +'.png') }}"
              alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 w-1/4 font-bold">{{ team.team_name}}</td>
          <td class="py-1 w-1/12"><img src="{{ url_for('static', filename='conference_logos/' + team.conference +'.png') }}"
            alt="Team Logo" class="max-w-8 max-h-8" /> </td>
          <td class="py-1 w-1/6 ">{{ team.conference }}</td>
          <td class="py-1 font-bold text-right pr-10">{{ team.defensive_efficiency }}</td>

        </tr>
        {% set count.value = count.value - 1 %} {% endif %} {% endfor %}
      </table>
    </div>

  </div>

  <!-- Player Analytics Section -->
  <div id="playeranalytics-section" style="display: none">
    <div class="max-h-screen my-10 flex flex-col justify-center items-center">
      <img src="https://www.svgrepo.com/show/426192/cogs-settings.svg" alt="Logo" class="mb-8 h-40">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-center text-gray-700 dark:text-white mb-4">This page is
        under maintenance</h1>
      <div class="flex space-x-4 my-10">
        <a href="/#bottom"
          class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-3 px-6 rounded dark:bg-gray-700 dark:hover:bg-gray-600">Contact
          Me</a>
        <a href="#" onclick="window.location.reload(true);"
          class="border-2 border-gray-800 text-black font-bold py-3 px-6 rounded dark:text-white dark:border-white">Standings</a>
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <div class="flex justify-center my-5 ">
    <nav
      class="flex flex-wrap md:flex-row"
      role="group">
      <button id="standingsBtn2" type="button" class="nav-btn flex-auto shrink text-xs md:text-base">Standings</button>
      <button id="leaderboardBtn2" type="button" class="nav-btn flex-auto text-xs md:text-base">Player Leaderboard</button>
      <button id="teamAnalyticsBtn2" type="button" class="nav-btn flex-auto text-xs md:text-base">Team Analytics</button>
      <button id="playerAnalyticsBtn2" type="button" class="nav-btn flex-auto text-xs md:text-base">Player Analytics</button>
    </nav>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}