/* Dark mode styles */
body {
    background-color: #111;
    color: #fff;
}

/* Style for the content */
h2,h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Style for the league links */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.click {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.5s ease;
}

.click:hover {
    background-color: #f0f0f0;
    color: #666;
    transition-duration: 0.5s; /* Smooth transition duration */
}
