{% extends "base.html" %} {% block content %}
<title>Error</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

<body class="bg-gray-100 h-screen flex flex-col items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md max-w-md min-h-screen">
    <h1 class="text-3xl text-gray-800 font-bold mb-4">
      Oops! Something went wrong.
    </h1>
    <p class="text-lg text-gray-600">{{ message }}</p>
    <a href="/" class="mt-4 text-blue-600 hover:underline">Go back to homepage</a>
  </div>
</body>
{% endblock %}