{% extends "base.html" %}

{% block subheader %}
<h1 class="md:text-3xl py-2 text-xl font-bold text-center text-gray-400">
  {{ league }} League
</h1>
<!-- Navigation -->
<div class="flex justify-center">
  <nav class="flex flex-row" role="group">
    <button id="standingsBtn" type="button" class="nav-btn">Standings</button>
    <button id="leaderboardBtn" type="button" class="nav-btn">
      <span class="md:inline hidden">Stats Leaderboard</span>
      <!-- Hidden on small screens -->
      <span class="md:hidden">Stats</span>
    </button>
    <button id="teamAnalyticsBtn" type="button" class="nav-btn">
      <span class="md:inline hidden">Team Analytics</span>
      <!-- Hidden on small screens -->
      <span class="md:hidden">Analytics</span>
    </button>
    <button id="playoffsBtn" type="button" class="nav-btn">Playoffs</button>
  </nav>
</div>
{% endblock %}

{% block content %}
<div>
  <!-- STANDINGS SECTION -->
  <div id="standings-section" style="display: block" class="min-h-screen">
    <h2 class="nav-title">STANDINGS</h2>
    {% include "league_page/standings.html" %}
  </div>

  <!-- PLAYER LEADERBOARD SECTION -->
  <div id="playerleaderboard-section" style="display: none" class="flex flex-col min-h-screen">
    <h2 class="nav-title">LEADERBOARD</h2> 
    {% include "league_page/leaderboard.html" %}
  </div>

  <!-- TEAM ANALYTICS SECTION -->
  <div id="teamanalytics-section" style="display: none" class="min-h-screen">
    <h2 class="nav-title">TEAM ANALYTICS</h2>
    {% include "league_page/radarchart.html" %}
  </div>

  <!-- PLAYOFFS SECTION -->
  <div id="playoffs-section" style="display: none" class="min-h-screen">
    <h2 class="nav-title">PLAYOFFS</h2>
    {% include "league_page/playoffs.html" %}
  </div>


  <script>
    const radarData = JSON.parse('{{ radar_data | tojson | safe }}');// Radar data from Flask app
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/radarchart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</div>
{% endblock %}